.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.title {
    margin-top: 35px;
    font-size: 48px;
    font-weight: 800;
    padding: 0px 30px;
}

.outer h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}